body {
    background: rgb(10, 210, 255);
    place-items: center;
    font-family: sans-serif;
}
* {
    text-decoration: none;
}

form{
    padding: 16px;
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #fbfbfb;
    border-radius: 16px;
    margin: 0 auto;
}

.container input{
    font-size: 16px;
    background: none;
    color: #333;
    width: 100%;
    height: 32px;
    border: none;
    padding: 0 5px;
    outline: none;
}
.container{
    border-bottom: 2px solid #adadad;
    position: relative;
    display: flex;
    width: 80%;
    margin: 32px 0;
}
/*Input placeholder*/
.container span::before{
    content: attr(data-placeholder);
    position: absolute;
    top: 20%;
    left: 5px;
    color: #adadad;
    transition: 0.2s;
}
/*Gradient line when input is focused*/
.container span::after{
    content: "";
    position: absolute;
    top: 32px;
    left: 0;
    width: 0%;
    height: 2px;
    background: linear-gradient(120deg, #3498db, #8e44ad);
    transition: 0.5s;
}

.container input:invalid{
    border-radius: 8px 8px 0 0;
}
.container input:focus + span::before,
.container input:valid + span::before{
    top: -18px;
}
.container input:focus + span::after,
.container input:valid + span::after{
    width: 100%;
}

#toggle-password{
    outline: none;
    border:none;
    background: none;
}

.btn{
    font-size: 1rem;
    width: 50%;
    height: 32px;
    color: #fff;
    background: #1177ee;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 12px #ccc;
    background: linear-gradient(120deg, #3498db, #8e44ad,#3498db);
    background-size: 200%;
    transition: 0.5s;
}
.btn:hover{
    background-position: right;
}
.material-icons.md-inactive{
    color: #aaa;
}
.material-icons.md-18 { font-size: 18px; } 
.material-icons.md-24 { font-size: 24px; } 
.material-icons.md-36 { font-size: 36px; } 
.material-icons.md-48 { font-size: 48px; }